/* Variables for commonly used values */
:root {
    --primary-color: rgb(3, 126, 97);
    --secondary-color: rgb(23, 54, 104);
    --background-color: white;
    --text-color: black;
    --border-radius: 5px;
    --box-shadow: rgb(141, 141, 141) 1px 3px 8px;
}

/*End of :root variables*/

.poppins-light, body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--background-color);
    cursor: default;
}
#header {
    background-color: var(--background-color);
}
.logo {
    width: 100px;
    height: 100px;
}
#nav_bar{
    background-color: white;
}
#nav_bar ul, #sidebar{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 0;
}
#nav_bar li, #sidebar li{
    height: 100px;
}
#nav_bar a, #sidebar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}
#nav_bar .logoatag{
    padding: 0;
}
#nav_bar li:first-child{
    margin-right: auto;
}
#nav_bar a:hover, #sidebar a:hover{
    background-color: #f0f0f0;
}
#sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.235);  
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}
#sidebar li{
    width: 100%;
}
#menubutton{
    display: none;
}
@media (max-width:1024px){
    .hideonmobile{
        display: none;
    }
    #menubutton{
        display: block;
    }
}
@media (max-width:480px){
    #sidebar{
        width: 100%;
    }
}
#sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1;
    background-color: white;
} 
#image {
    width: 100%;
    height: 100%;
    position: relative;
}
#homeimg {
    width: inherit;
    height: inherit;
    border-radius: var(--border-radius);
}
.headingbox {
    position: absolute;
    width: 510px;
    height: 350px;
    top: 450px;
    color: white;
}
.welcometext {
    font-size: 60px;
    margin: 0;
    padding: 0 10px 0 0;
}
.welcomediv, .todiv, .carecornerdiv {
    height: 90px;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.todiv {
    width: 200px;
}
.carecornerdiv {
    width: 500px;
}
#whoarewe {
    font-size: 20px;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--primary-color);
    color: white;
}
.parasection {
    width: auto;
    height: auto;
    background-color: var(--background-color);
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}
.secondimage {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    box-shadow: var(--box-shadow);
}
.secondimages {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
.para2 {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 500px;
    height: 400px;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}
@media (max-width:1024px){
    .parasection{
        flex-direction: column;
        align-items: center;
    }
    .parasection2{
        flex-direction: column-reverse;
        align-items: center;
    }
    .headingbox{
        position: absolute;
        width: 400px;
        height: 300px;
        top: 350px;
        border:  2px solid red;
    }
    .welcometext {
        font-size: 45px;
    }
    .welcomediv, .todiv, .carecornerdiv {
        height: 70px;
        width:fit-content ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: var(--primary-color);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
@media (max-width:768px){
    .headingbox{
        position: absolute;
        width: 510px;
        height: 350px;
        top: 250px;
    }
    .welcometext {
        font-size: 30px;
    }
    .welcomediv, .todiv, .carecornerdiv {
        height: 40px;
        width:fit-content ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: var(--primary-color);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
@media (max-width:480px){
    .secondimage{
        width: 400px;
        height: 200px;
        margin: 0 auto;
    }
    .para2{
        width: 400px;
        margin: 20px auto;
    }
    .headingbox{
        position: absolute;
        width: 510px;
        height: 350px;
        top: 150px;
    }
    .welcometext {
        font-size: 20px;
    }
    .welcomediv, .todiv, .carecornerdiv {
        height: 40px;
        width:fit-content ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: var(--primary-color);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
#listflex {
    width: auto;
    height: 300px;
    display: flex;
    font-size: 18px;
    justify-content: space-around;
}
.listitem {
    background-color: var(--background-color);
    border-radius: 20px;
    width: 320px;
    height: 220px;
    margin-top: 20px;
    padding: 0 10px 10px 10px;
    color: var(--text-color);
    border: none;
    box-shadow: var(--box-shadow);
}
.listitem h2 {
    color: var(--primary-color);
}
@media (max-width:768px){
    #listflex{
        flex-direction: column;
        margin-bottom: 180px;
        align-items: center;
    }
}



/* Css for Services */

#servicesheading {
    margin: 20px 0 20px 10px;
    color: var(--primary-color);
}
#servicesandimage {
    width: 100%;
    height: 300px;
    background-image: url(./images/doctorbackground.jpg);
    background-size: 100% 100%;
    filter: brightness(30%);
}
#servicesheading h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
#servicesheading h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}
#sectionflex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
#servicesflex {
    width: 90%;
    margin: 30px 0 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.servicesbox {
    position: relative;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    color: var(--primary-color);
    cursor: default;
    margin: 20px 0;
    transition: .25s ease-in-out;
}
.servicesbox:hover {
    background-color: var(--primary-color);
    color: white;
    transform: scale(1.1);
}
.serviceicon1, .serviceicon2, .serviceicon3, .serviceicon4, .serviceicon5, .serviceicon6 {
    position: absolute;
    width: 100px;
    height: 90px;
    top: 5px;
    left: 100px;
    background-image: url(./images/servicesicons.png);
    background-size: 400px 500px;
}
.serviceicon1 {
    background-position: -250px -250px;
}
.serviceicon2 {
    background-position: -50px -60px;
}
.serviceicon3 {
    background-position: -250px -60px;
}
.serviceicon4 {
    background-position: -50px -155px;
}
.serviceicon5 {
    background-position: -250px -350px;
}
.serviceicon6 {
    background-position: -150px -250px;
}
.servicepara {
    margin: 80px 10px 10px 10px;
}
#patientregister {
    display: flex;
    justify-content: center;
    margin: 20px;
}
#registertext {
    margin: 20px 0 20px 10px;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 600;
}
#registerbox input {
    width: 200px;
    font-size: 20px;
    margin: 27px 0 0 25px;
    outline: none;
    background-color: var(--secondary-color);
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#registerbox input:hover {
    background-color: var(--primary-color);
    transform: scale(1.025);
}
@media (max-width:768px){
    #patientregister{
        flex-direction: column;
        align-items: center;
    }
    #registerbox input{
        margin-top: 10px;
    }
}


/* Doctors page code */

#doctors {
    width: 100%;
    height: auto;
}
#doctors h1 {
    margin: 40px 0 40px 10px;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
#boxcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 50px 0px 20px 10px;
    column-gap: 20px;
    row-gap: 20px;
}
.box {
    width: 200px;
    height: 200px;
    border: solid var(--primary-color) 1px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.docdescription {
    width: 300px;
    height: 200px;
    padding: 15px;
    text-align: center;
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.docdescription h3 {
    color: var(--primary-color);
}
.docdescription p {
    color: var(--secondary-color);
}
.box1 img, .box2 img, .box3 img, .box4 img, .box5 img,.box6 img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.docdescription:hover, .box:hover{
    transform: scale(1.025);
}
@media (max-width:480px){
    #boxcontainer{
        grid-template-columns: repeat(1, 1fr 2fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 40px;
    }
    .docdescription {
        width: 190px;
    }
}


/*Css for consulting reservation */

#headingofreservation{
    font-size: 25px;
    height: 90px;
    padding-top: 15px;
    margin: 0;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--background-color);
}
#mainsection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 50px 0 100px 0 ;
}
#formsection{
    width: 50%;
    color: var(--primary-color);
    border-radius: var(--border-radius);
    border: none;
    box-shadow: var(--box-shadow); 
}
.formheading{
    background-color: var(--secondary-color);
    color: var(--background-color);
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: 24px;
    padding: 5px;
}
.formheadingpatients{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.inputofuser{
    margin: 20px 15px 10px 5px;
    width: 95%;
}
.inputofuser input{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.inputofuser textarea {
    width: 100%;
    margin-top: 5px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
    border-bottom-width: 2px;
}
.headingofformcontent{
    font-weight: 600;
    margin-bottom: 5px;
}
#doctorinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.inputofuser input:focus,
.inputofuser input:user-valid{
    border-color: var(--primary-color);
}
.inputofuser input:user-invalid{
    border-color: red;
}
#submitbutton input{
    width: 80%;
    height: 100%;
    margin: 0 0 25px 10%;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--background-color);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#submitbutton input:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}
#submitbutton input:active{
    transform: scale(0.98);
}
@media (max-width:768px){
    #formsection{
        width: 80%;
    }
}
/*Css for pharmacy */


#pharmacyheading {
    margin: 20px 0 20px 10px;
    color: var(--primary-color);
}
#pharmacyheading h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
#medicinecontainer {
    width: 100%;
}
#medicinelist {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: auto;
    row-gap: 20px;
}
.item {
    border: 2px solid var(--text-color);
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-rows: 35px 1fr 40px;
    transition: all 0.2s ease;
    &:hover{
        transform: scale(1.025);
        }
}
.itemheading {
    display: flex;
    width: 100%;
    padding: 5px;
}
.itemheading img {
    width: 20px;
}
.itemheading h3 {
    color: var(--primary-color);
    display: inline-block;
    margin-left: 5px;
    text-decoration: underline;
}
.itempara {
    padding: 5px;
    font-size: 12px;
    color: var(--text-color);
}
#price {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#price span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
}
#price button {
    width: 60%;
    margin: 2px;
    color: var(--secondary-color);
    border: var(--secondary-color) 2px solid;
    border-radius: var(--border-radius);
}
.inputofuser select{
    width: 100%; 
    height: 30px;
    margin-top: 5px; 
    outline: none; 
    border-radius: 3px; 
    border: 1px solid #ccc; 
    padding: 5px; 
    border-bottom-width: 2px; 
    transition: all 0.3s ease;
}
@media (max-width:1024px){
    #medicinelist{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media (max-width:768px){
    #medicinelist{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
@media (max-width:480px){
    #medicinelist{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 15px;
        margin-left: 10px;
    }
}


/*Css for About us */

#branchheading {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 40px;
}
.branchsection {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.branchinfo {
    width: 600px;
    height: 400px;
    padding: 50px;
    color: var(--text-color);
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.branchinfo h1 {
    color: var(--primary-color);
}
.maps {
    width: 600px;
    height: 400px;
}
.maps iframe {
    width: 600px;
    height: 400px;
    border: 3px solid rgb(145, 161, 177);
}
.imagesection {
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin: 15px 0 30px 20px;
}
.branchimage {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.imgheader {
    width: auto;
    height: auto;
    margin: 20px 0 0 20px;
    color: var(--primary-color);
}
@media (max-width:1024px){
    .branchsection{
        flex-direction: column;
    }
    .maps, .maps iframe{
        width: 600px;
        margin: 10px auto;
    }
    .branchinfo{
        width: 600px;
        margin: 0 auto;
        height: auto;
    }
}
@media (max-width:768px){
    .imagesection{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        width: 90%;
    }
    .branchimage{
        margin: 10px auto;
    }
}
@media (max-width:480px){
    .branchsection{
        flex-direction: column;
    }
    .imagesection{
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
        width: 90%;
    }
    .branchimage{
        margin: 10px auto;
    }
    .maps, .maps iframe{
        width: 400px;
        margin: 10px auto;
    }
    .branchinfo{
        width: 400px;
        margin: 0 auto;
        height: auto;
    }
}
#aboutustable{
    width: 80%;
    margin: 70px auto;
}
#aboutustable thead{
    background-color: var(--primary-color);
    color: white;
}
#aboutustable thead tr th{
    width: 300px;
    padding: 5px;
}
#aboutustable tbody{
    background-color: #eee;
    color: black;
}
#aboutustable tbody tr td{
    padding: 5px;
}

@media (max-width:768px){
    #aboutustable thead{
        display: none;
    }
    #aboutustable tbody tr td{
        display: block;
    }
    #aboutustable tbody tr td:first-child{
        background-color: var(--primary-color);
        color: white;
        text-align: center;
    }
    #aboutustable tbody tr td:nth-child(2)::before{
        content: "Branch";
    }
    #aboutustable tbody tr td:nth-child(3)::before{
        content: "Location";
    }
    #aboutustable tbody tr td:nth-child(4)::before{
        content: "Telephone";
    }
    #aboutustable tbody tr td{
        text-align: right;
    }
    #aboutustable tbody tr td::before{
        float: left;
        margin-right: 15px;
        font-weight: 600;
    }
}


/* Css for current page indication */
#home, #consultingreservation, #aboutus, #services, #pharmacy, #doctorspage {
    border-bottom: 4px solid var(--secondary-color);
    font-weight: 600;
}


/* Css for all pages */
#headingsection {
    width: auto;
    height: 90px;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    color: var(--background-color);
    background-color: var(--secondary-color);
    background-size: 100% 100%;
}

/* footer */

footer, footer p, footer a, .mediaicons li i, .fa-brands{
    color: white;
}
footer{
    background-color: #333;
    width: 100%;
}
footer * {
    padding: 0;
}
footer p{
    max-width: 300px;
    font-size: 14px;
}
footer a{
    text-decoration: none;
}
footer .container{
    width: 100%;
    margin: 0 auto;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
footer .col3{
    max-width: 250px;
}
footer .menu{
    margin-bottom: 30px;   
}
footer .menu li{
    display: inline-block;
    margin: 0 10px 10px 0;
}
footer .menu a:hover{
    text-decoration: underline;
}
footer .brand{
    display: block;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
footer ul li {
    list-style: none;
}
.mediaicons li{
    display: inline-block;
    margin: 2px 5px 20px 0;
}
.mediaicons li i{
    font-size: 20px;
    width: 34px;
    height: 34px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mediaicons li i:hover{
    color: black;
    background-color: white;    
}
footer form{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
footer form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}
footer form input{
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    color: #ccc;
}
footer form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
footer form button .fa-solid{
    font-size: 18px;
    color: #ccc;
}
footer hr{
    width: 90%;
    margin: 15px auto;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.copyright{
    text-align: center;
    margin: 0 auto;
    padding: 2px;
}
@media screen and (max-width:900px){
    footer .container{
        flex-direction: column;
    }
}